# Node
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-store

# Env
.env
.env.*
!.env.example

# Logs
logs
*.log

# Build
.dist
.next
out
coverage

# Expo / React Native
.expo
.expo-shared
*.apk
*.aab
*.ipa

# Terraform
*.tfstate
*.tfstate.*
.terraform/
.terraform.lock.hcl

# Docker
*.pid
